<!DOCTYPE html>
<html>
  <head>
    <title>Confirmation Email</title>
  </head>
  <body>
    <h1>Confirmation Email</h1>
    <p>Thank you for your reservation. Your reservation details are:</p>
    <ul>
      <li>Mark: {{Data.mark}}</li>
      <li>Model: {{Data.model}}</li>
      <li>Pickup Place: {{Data.pickupPlace}}</li>
      <li>Dropoff Place: {{Data.dropoffPlace}}</li>
      <li>Pickup Date: {{Data.pickupDate}}</li>
      <li>Dropoff Date: {{Data.dropoffDate}}</li>
      <li>First Name: {{Data.firstName}}</li>
      <li>Last Name: {{Data.lastName}}</li>
      <li>Phone: {{Data.phone}}</li>
      <li>Age: {{Data.age}}</li>
      <li>Email: {{Data.email}}</li>
      <li>Address: {{Data.address}}</li>
      <li>City: {{Data.city}}</li>
      <li>Zipcode: {{Data.zipcode}}</li>
    </ul>
    <p>Thank you for choosing us. We look forward to serving you.</p>
  </body>
</html>
